header {
  width: 100%;
  max-width: 1366px;
  height: 750px;
  background-image: url(/assets/backgrounds/Background_Intro.png);
  background-repeat: none;
  background-size: cover;
  h1 {
    color: white;
  }
}

.info-profile {
  padding-top: 120px;
}

.profile {
  width: 680px;
}

.img-profile {

  margin-bottom: 56px;

  img {
    width: 96px;
    height: 96px;
  }
}

.description-profile {
  
  h1 {
    margin-top: 8px;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
  }
}

.skills {
  margin-top: 80px;
  display: flex;
  gap: 16px;
}

.moldura {
  height: 40px;
  border-radius: 999px;
  background-color: var(--gray-300);
}

.moldura-content {
  padding: 8px 16px;
  display: flex;
  align-items: center;

  p {
    padding-left: 8px;
    color: var(--gray-500);
    font: var(--text-md);
  }
}

.double-down {
  margin-top: 94px;
}


