main {
  background-color: var(--gray-200);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 72px;
}

.my-work {
  padding-bottom: 144px;
}

.my-work-title {
  text-align: center;
  padding-bottom: 56px;

  h3 {
    color: var(--red);
    font: var(--subtitle);
    padding-bottom: 8px;
  }

  h2 {
    color: var(--gray-600);
    font: var(--title-md);
  }
}

.my-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.container-projects {
  background-color: var(--gray-300);
  width: 330px;
  height: 280px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;


  img {
    width: 306px;
    height: 156px;
    border-radius: 8px;
    object-fit: cover;
  }

  div {
    width: 100%;
    padding-inline: 12px;

    h3 {
      padding-bottom: 8px;
      color: var(--gray-600);
      font: var(--title-sm);
    }

    p {
      color: var(--gray-500);
      font: var(--text-sm);
    }
  }
}

.services {
  background-color: var(--gray-100);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 88px;
  padding-bottom: 120px;
}

.services-header {
  margin-bottom: 56px;
  
  h3 {
    font: var(--subtitle);
    color: var(--red);
    text-align: center;
    margin-bottom: 8px;
  }

  h2 {
    font: var(--title-md);
    color: var(--gray-600);
  }
}

.my-services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.container-services {
  width: 280px;
  border: 2px solid var(--gray-200);
  border-radius: 12px;
  padding: 20px;

  img {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }
}

.services-description {

  margin-top: 20px;

  p:first-child {
    padding-bottom: 8px;
    font: var(--title-sm);
    color: var(--gray-600);
  }

  p:last-child {
    font: var(--text-sm);
    color: var(--gray-500);
  }
}

